{{> head}}
<table>
    <thead>
    <tr>
        <th>method</th>
        <th>parameters</th>
        <th>script</th>
    </tr>
    </thead>
    <thead>
    {{#each endpoints}}
        <tr>
            <td>{{this.method}}</td>
            <td>{{this.parameters}}</td>
            <td><a href="{{this.scriptUrl}}" target="_blank">{{this.scriptName}}</a></td>
        </tr>
    {{/each}}
    </thead>
</table>
{{> foot}}
